extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong About Baycro
  // Main Content
  section#maincontent
    .container
      h3 About
      p
  br
  br
  section
    .container
      h3 Our Team

      mixin Photo(name, school)
        .team
          img.img-circle(src=`img/team/${name.split(' ').join('')}.png`)
          h6= name
          p= school

      mixin NoPhoto(name, school)
        .team
          img.img-circle(src='img/team/PersonIcon.png')
          h6= name
          p= school

      .row
        .span4.offset2
          +Photo('Esther Tok', 'Gunn High School')
        .span4
          +Photo('Emily Zhao', 'Gunn High School')
        .span4
          +Photo('Rida Khawaja', 'Gunn High School')
        .span4
          +Photo('Shreya Thayaparan', 'Leland High School')
      .row
        .span4.offset2
          +Photo('Ajay Bati', 'Mission San Jose High School')
        .span4
          +Photo('Vibhav Athreya', 'Mission San Jose High School')
        .span4
          +Photo('Karankumar Mageswaran', 'Mission San Jose High School')
        .span4
          +Photo('Emily Park', 'Oak Grove High School')
      .row
        .span4.offset2
          +Photo('Ganesh Pimpale', 'Santa Teresa High School')
        .span4
          +Photo('Govind Pimpale', 'Santa Teresa High School')
        .span4
          +Photo('Jasper Nguyen', 'Santa Teresa High School')
        .span4
          +Photo('Kaitlyn Bui', 'Santa Teresa High School')
      .row
        .span4.offset2
          +Photo('Leslie Sun', 'Saratoga High School')
        .span4
          +Photo('Isaiah Chung', 'Saratoga High School')
        .span4
          +Photo('Adithya Nair', 'Saratoga High School')
        .span4
          +Photo('Christopher Park', 'University Preparatory Academy')
